DB_URL=jdbc:mysql://localhost:3307/circuler?useTimezone=true&serverTimezone=UTC
DB_USER=seu_usuario
DB_PASS=sua_senha

JWT_SECRET=sua_chave_secreta_jwt_com_no_minimo_32_caracteres

ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=SuaSenhaAdmin@123